.icons ul {
    display: flex;
    list-style: none;
}

.icons ul li {
    margin: 20px;
}

.icons a {
    box-shadow: 10px 8px 15px 0px #888888;
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    transition: 1s;
}

li:nth-child(1) a:hover{
    background: #1877F2;
    color: #fff;
    transform: translateY(-10px);
    box-shadow: 0px 0px 0px 0px;
}

li:nth-child(2) a:hover{
    background: #1877F2;
    color: red;
    transform: translateY(-10px);
    box-shadow: 0px 0px 0px 0px;
}

li:nth-child(3) a:hover{
    background: #1877F2;
    color: #fff;
    transform: translateY(-10px);
    box-shadow: 0px 0px 0px 0px;
}

li:nth-child(4) a:hover{
    background: #1877F2;
    color: #fff;
    transform: translateY(-10px);
    box-shadow: 0px 0px 0px 0px;
}
